[Unit]
Description=Crossposter from Discord to Mastodon And My Blog
After=network.target
StartLimitIntervalSec=0

[Install]
WantedBy=default.target

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/home/ubuntu/crossposter
ExecStart=/home/ubuntu/crossposter/run.sh
