[Unit]
Description=Reverse-tunnels Navidrome to a remote server
Requires=navidrome.service
After=navidrome.service

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/me
ExecStart=/usr/bin/ssh -N -T -R 4533:localhost:4533 devbox

[Install]
WantedBy=default.target
