upstream rc_wolfgirl_dev {
  keepalive 300;
  server 127.0.0.1:8000;
}

server {
	server_name rc.wolfgirl.dev;
	root /home/ubuntu/crossposter/server;
	index index.html;

	listen [::]:443;
	listen 443;
	ssl_certificate    	/etc/letsencrypt/live/rc.wolfgirl.dev/fullchain.pem;
	ssl_certificate_key	/etc/letsencrypt/live/rc.wolfgirl.dev/privkey.pem;
	include            	/etc/letsencrypt/options-ssl-nginx.conf;
	ssl_dhparam        	/etc/letsencrypt/ssl-dhparams.pem;

	location / {
		proxy_pass             	http://rc_wolfgirl_dev;
		# Use faster proxying
		proxy_http_version     	1.1;
		proxy_request_buffering	off;
		proxy_buffering        	off;
		# Security measures for Sanic
		proxy_set_header       	Forwarded "by=\"_rc.wolfgirl.dev\";$for_addr;proto=$scheme;host=\"$http_host\"";
		# Allow websockets
		proxy_set_header       	Connection "upgrade";
		proxy_set_header       	Upgrade $http_upgrade;
		# Allow uploading large files
		client_max_body_size   	100M;
	}

	# Just for authentication with ngx_http_auth_request_module
	location = /auth {
		proxy_pass		http://rc_wolfgirl_dev;
		proxy_pass_request_body	off;
		proxy_set_header	Content-Length "";
		proxy_set_header	X-Original-URI $request_uri;
		# Use faster proxying
		proxy_http_version     	1.1;
		proxy_request_buffering	off;
		proxy_buffering        	off;
		# Security measures for Sanic
		proxy_set_header       	Forwarded "by=\"_rc.wolfgirl.dev\";$for_addr;proto=$scheme;host=\"$http_host\"";
	}

	location /assets/ {
		alias   	/home/ubuntu/crossposter/rc/web/dist/assets/;
		sendfile	on;
		gzip 		on;
		gzip_types	*;
		add_header	'Cache-Control' "public, max-age=60";
	}

	location /log_files/ {
		auth_request	/auth;
		alias		/home/ubuntu/crossposter/rc/src/rc/log_files/;
		sendfile	on;
		gzip		off;
	}

	error_page 401 = @goto_login;
	location @goto_login {
		return 301 /login?next=$request_uri;
	}
}

server {
	listen [::]:80;
	listen 80;

	server_name rc.wolfgirl.dev;
	if ($host ~ ^rc\.wolfgirl\.dev$) {
		return 301 https://$host$request_uri;
	}

	return 404;
}

map $remote_addr $for_addr {
	~^[0-9.]+$       	"for=$remote_addr";
	~^[0-9A-Fa-f:.]+$	"for=\"[$remote_addr]\"";
	default          	"for=unknown";
}
