map $http_upgrade $connection_upgrade {
	default upgrade;
	''      close;
}

server {
	server_name rc.wolfgirl.dev;
	root /home/ubuntu/rc.wolfgirl.dev;
	index index.html;

	listen [::]:443;
	listen 443;
	ssl_certificate    	/etc/letsencrypt/live/rc.wolfgirl.dev/fullchain.pem;
	ssl_certificate_key	/etc/letsencrypt/live/rc.wolfgirl.dev/privkey.pem;
	include /etc/letsencrypt/options-ssl-nginx.conf;
	ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
}

server {
	listen [::]:80;
	listen 80;

	server_name rc.wolfgirl.dev;
	if ($host ~ ^rc\.wolfgirl\.dev$) {
		return 301 https://$host$request_uri;
	}

	return 404;
}
